@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out forwards;
}

.animate-modalIn {
  animation: modalIn 0.15s ease-out forwards;
}

